@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: theme('colors.background.DEFAULT');
  background-color: theme('colors.foreground.DEFAULT');
}



.ulink {
   --link-underline-color: var(--underline-color, hsl(240deg 1% 31%));
    --link-underline-width: var(--underline-width, 0.2ch);
}

.avatar{
      width: 48px;
    height: 56px;
    -webkit-clip-path: path(
      'M48 31.4019C48 44.987 37.2548 56 24 56C10.7452 56 0 44.987 0 31.4019C0 17.8167 10.7452 0 24 0C37.2548 0 48 17.8167 48 31.4019Z'
    );
            clip-path: path(
      'M48 31.4019C48 44.987 37.2548 56 24 56C10.7452 56 0 44.987 0 31.4019C0 17.8167 10.7452 0 24 0C37.2548 0 48 17.8167 48 31.4019Z'
    );
}